<div class="text-center h-100" id="login">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label class="sr-only" for="username">Username</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon icon="user"></fa-icon>
        </div>
      </div>
      <input autofocus class="form-control" id="username" name="username" placeholder="Username" required
             type="text">
    </div>
    <label class="sr-only" for="password">Username</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <fa-icon icon="key" size="1x"></fa-icon>
        </div>
      </div>
      <input class="form-control" id="password" name="password" placeholder="Password" required type="password">
    </div>
    <div class="clearfix"></div>
    <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Sign in</button>
  </form>
</div>
